<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Document</title>
</head>
<body>

<img src="{{src}}" alt="">

{{!-- <form>
<label>Nombre:</label>
<input type="text"> <br>
<label>Contraseña:</label>
<input type="text"> <br> <br>
<button>Iniciar sesión</button>
</form> --}}

</body>
</html>