<div class="col-4">
    <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="/assets/img/{{fruta}}.png" alt="{{fruta}}" >
        <div class="card-body">
            <p class="card-text text-capitalize">{{fruta}}</p>
        </div>
    </div>
</div>
